/* Review Status button changes */
.button-5,
.button-5:hover {
    padding-left: 0 !important;
    position: relative;
    color: white;
    border: white none;
    background-color: white;
}
.button-5:focus {
    outline: 3px solid #002E3B !important;
    outline-offset: 1px !important;
    transition: outline-offset .2s linear !important;
}
.button-5 img {
    display: none;
}
a[href*="javascript:markReviewed"]::after {
    content: "Confirm you have reviewed this content";
    visibility: visible;
    position: relative;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #fff;
    background: #00131D;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-align: center;
    float: left;
}
a:hover[href*="javascript:markReviewed"]::after {
    content: "Confirm you have reviewed this content";
    background: #8D3970;
    transition: all 0.5s ease-in-out !important;
}
a:active[href*="javascript:markReviewed"]::after {
    transform: translateY(4px) !important;
}
a[href*="javascript:markUnreviewed"]::after {
    content: " " I have reviewed this content" !important;
    visibility: visible;
    position: relative;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    background: #005C84;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-align: center;
    float: left;
}
